- if @restaurants.all.any?
  - @restaurants.all.each do |restaurant|
    %h3= link_to restaurant.name, restaurant_path(restaurant)
    - restaurant.reviews.each do |review|
      = review.thoughts
      %br
      %br
    = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
- else
  %h1 No restaurants yet

%br
%br
%a(href="restaurants/new") Add a restaurant
